body {
  background-color: #232323;
  color: white;
  font-family: 'Courier New', 'Courier', 'monospace';
  text-align: center;
}
.square {
  width: 30%;
  padding-bottom: 30%;
  background-color: greenyellow;
  float: left;
  margin: 1.66%;
}
#container {
  margin: 0 auto;
  max-width: 700px;
}
 span {
   color: yellowgreen;
 }
